@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply overflow-x-hidden bg-[#F3F5F7] transition duration-500 dark:bg-[#121212];
  }
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar-track {
  background-image: transparent;
  border-radius: 5px;
}

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #0070f3;
}
